{% extends "index.html" %}

{% block title %}RESULT{% endblock %}

{% block style %}
    .main{
        width: 100%;
        background-image: linear-gradient(to bottom, gray, 10%,  transparent), url("https://static1.squarespace.com/static/57019a6db6aa607cbb909ab2/t/624265da8776ee2a68a7a7d3/1648518621937/unsplash-image-LjqARJaJotc.jpg?format=1500w");
        background-position: top;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container-result{
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 20px 20px;
        text-align: left;
        font-size: 30px;
        background-color: rgba(231, 231, 231, 0.80);
    }

    .perceived{
        margin: 30px;
        text-align: center;
        font-size: 40px;
    }


    .container-result .content{
        text-indent: 40px;
    }

    .container-result span{
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #000000;
    }

    .click {
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        text-decoration: none;
        text-align: left;

    }

    .click:hover{
        color: grey;
    }
{% endblock %}

{% block content %}

    <div class="container-result">
        <p>
            <div class="perceived">You have <span>{{ perceived }}%</span> in the perceived discrimination scale. </div>
            <br>
            This means that:
            <br>
            <br><div class="content"><span>Questions 1 to 11</span> is to measure how often you experienced discrimination in school before college in NU Fairview.
            <br>In this set of questions, you have a <span>{{ lifetime }}%</span> as a result.</div>
            <br><div class="content"><span>Questions 12 to 20</span> measured how often you experienced discrimination in your current daily life as a student.
            <br>In this set of questions, you have a <span>{{ daily }}%</span> as a result.</div>
            <br><div class="content">According to your percentage, <span>you sometimes experience discrimination</span> in different forms from your experience in school life before college and your current daily life as a college student in NU Fairview.</div>
            <br>Experiencing discrimination sometimes is already a bad indication. This indicates that our country still has a long way to go in eliminating discrimination. This also meant that you had to suffer with discrimination. No one should be subjected to discrimination in all forms. It is dispiriting that discrimination was and still is present to this day. Please take time to heal and support other victims of discrimination as well by sharing knowledge about discrimination and to support proper groups and laws that will help lessen discrimination in our country.
            <br><br>Here are some helplines to help you with discrimination:
            <div class="click"><a href="https://findahelpline.com/countries/ph/topics/gender-sexual-identity">HELPLINES</a></div>
        <br><br>Here are some recommendations to give you the latest update about discrimination:<div class="click"><a href="/articles">ARTICLES</a></div>


        </p>
    </div>
{% endblock %}